#on ignore les dossiers suivant
node_modules/

**/*.pyc
**/*.ini
**/*.egg-info
**/*.egg-info/*
**/*.egg
**/*.rar
Back/alerting_app/Views/__pycache__/

npm-debug.log

**/development.ini

Front/client/public/*
